{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>

    <section>
            <div class="todo_container">

            {% for book in book_list %}
            <div class="todo_item">
                <div class="todo_item_header">
                    <div class="action_buttons">
                        <a href="{% url 'book-detail' book.id %}"><img src="{% static './images/img2.jpg' %}" /></a>
                    </div>
                    <div>
                        <h4>{{ book.title }}</h4>
                    </div>
                    
                </div>
                <div class="todo_item_footer">
                    <p>{{ book.price }}</p>
                    <div class="action_buttons">
                        {% if book.is_favorite %}
                            <a href="{% url 'unfav-book' book.id %}"><img src="{% static './icons/star-full-icon-24.png' %}" /></a>
                        {% else%}
                            <a href="{% url 'fav-book' book.id %}"><img src="{% static './icons/star-empty-icon-24.png' %}" /></a>
                        {% endif %}
                        <a href="{% url 'delete-book' book.id %}"><img src="{% static '/icons/trash-can-icon-24.png' %}" /></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>